<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waveshare_rover">
    <xacro:arg name="prefix" default="" />
    <xacro:include filename="$(find waveshare_real)/robot.urdf.xacro"/>
    <xacro:include filename="$(find waveshare_real)/waveshare_real.ros2_control.xacro" />
    <xacro:include filename="$(find waveshare_real)/lidar.xacro" />

    <xacro:waveshare_real prefix="$(arg prefix)" />

    <xacro:waveshare_real_ros2_control name="waveshare_real" prefix="$(arg prefix)" />

</robot>